@charset "UTF-8";

@media screen and (min-width: 40em) {
    header nav{
        display: block;
        text-align: center;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card:nth-child(2n){
        margin-top: 1em;
    }
}

@media screen and (min-width: 48em){
    header div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}